.item-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.item-contador{
    display: flex;
    flex-direction: row;
    padding:5px;
    cursor: pointer;

}
.itemCount{
    padding: 0px 20px;
    align-self: center;
   
}


.btn-red{
    background-color: #ff0000;
    color: #eee;
    width: 30px;
    height: 30px;
    border: none;
}
.btn-red:hover{
    background-color: #d81313;

}

.btn-blue{
    background-color: #00aeff;
    color: #eee;
    width: 30px;
    height: 30px;
    border: none;
}
.btn-blue:hover{
    background-color: #1b89bd;

}